<!DOCTYPE html>
<html>

<h2>
  - House Stark-
</h2>
<div>
<img src="assets/housestark.png" alt="crest" width="600" >
</div>
<h3>Family Info:</h3>
<p>

	House Stark of Winterfell is one of the Great Houses of Westeros and the principal noble house of the north. In days of old they ruled as Kings of Winter, but since Aegon's Conquest they have been Wardens of the North and ruled as Lords of Winterfell. 
<br>
	Their seat, Winterfell, is an ancient castle renowned for its strength.
<br>
	Their sigil is a grey direwolf racing across a field of white. Their words are "Winter is Coming", one of only a few house mottoes to be a warning rather than a boast. Several of the POV characters of A Song of Ice and Fire are members of House Stark.
<br>
	Aside from the Karstarks of Karhold, the Starks of Winterfell may have other, distant relatives in the north. White Harbor and Barrowton are considered to be likely options. Some younger Starks have also held vassal holdfasts for the lords of Winterfell.
 </p>
