p {
    margin-right: 30%;
    margin-left: 30%;
    font-size: 20px;
}

/* individual member descriptions */
.description {
    text-align: center;
}

/* the team member images */
img {
    border-radius: 50%;
}

/* team member names */
.caption {
    font-size: 25px;
}

#container{width:100%;}
#left{float:left;width:20%;margin-left:1%}
#right{float:right;width:100px;}
#center{margin:0 auto;width:50%;}
