<div id="left">
    <app-twitter-feed></app-twitter-feed>
</div>
<div id = "right">
    <app-facebook-feed></app-facebook-feed>
</div>

<mat-card class="about-team-card">
    <mat-card-title>About Us</mat-card-title>
    <mat-card-content>
        We are a group of students at DePaul University. This is our project for CSC 360 (Web Applications). 
        It was created using the Angular Framework with Material.
        You can view the source on <a style="color: #0099cc;" href="https://github.com/Bkessing/WebAppsProject/">GitHub</a>
    </mat-card-content>
</mat-card>

<mat-card class="about-members-card" color="warn">
    <mat-card-title>The Team</mat-card-title>
    <mat-card-content>
        <mat-card class="member-card">
            <mat-card-content>
                <img width="100" alt="team member" src="assets/default_dude.jpg">
                <div class="caption"> Brandon Kessinger </div>
                <div class="description"> Computer science student at DePaul University</div>
            </mat-card-content>
        </mat-card>
    </mat-card-content>
</mat-card>

<mat-card class="about-members-card" color="warn">
    <mat-card-content>
        <mat-card class="member-card">
            <mat-card-content>
                <img width="100" alt="team member" src="assets/default_dude.jpg">
                <div class="caption"> Aleksandar Penev </div>
                <div class="description"> Just a guy who likes to do things</div>
            </mat-card-content>
        </mat-card>
    </mat-card-content>
</mat-card>

<mat-card class="about-members-card" color="warn">
    <mat-card-content>
        <mat-card class="member-card">
            <mat-card-content>
                <img width="100" alt="team member" src="assets/claxton.jpg">
                <div class="caption"> Thomas Claxton </div>
                <div class="description"> Computer Science student at DePaul University, first time doing any web development stuff... forgive me. </div>
            </mat-card-content>
        </mat-card>
    </mat-card-content>
</mat-card>

<mat-card class="about-members-card" color="warn">
    <mat-card-content>
        <mat-card class="member-card">
            <mat-card-content>
                <img width="100" alt="team member" src="assets/default_dude.jpg">
                <div class="caption"> Other Member </div>
                <div class="description"> Description </div>
            </mat-card-content>
        </mat-card>
    </mat-card-content>
</mat-card>

<mat-card class="about-members-card" color="warn">
    <mat-card-content>
        <mat-card class="member-card">
            <mat-card-content>
                <img width="100" alt="team member" src="assets/default_dude.jpg">
                <div class="caption"> Other Member </div>
                <div class="description"> Description </div>
            </mat-card-content>
        </mat-card>
    </mat-card-content>
</mat-card>

<mat-card class="about-members-card" color="warn">
    <mat-card-content>
        <mat-card class="member-card">
            <mat-card-content>
                <img width="100" alt="team member" src="assets/default_dude.jpg">
                <div class="caption"> Other Member </div>
                <div class="description"> Description </div>
            </mat-card-content>
        </mat-card>
    </mat-card-content>
</mat-card>
