<!-- <h1> About Us </h1>
<div id ="container">
    <div id="left">
        <app-twitter-feed></app-twitter-feed>
    </div>
    <div id = "right">
        <app-facebook-feed></app-facebook-feed>
    </div>
    

    <div id="center">
        <p class="about"> We are a group of students at DePaul University. This is our project for CSC 360 (Web Applications). 
            It was created using the Angular Framework with Material.
            You can view the source on <a href="https://github.com/Bkessing/WebAppsProject/">GitHub</a>.
        </p>

        <h1> The Team </h1> <br>

        <div class="portrait-container">
            <img width="200" alt="team member" src="assets/default_dude.jpg">
            <div class="caption"> Brandon Kessinger </div>
        </div>
        <br>
        <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin viverra luctus purus. 
            Nam dolor risus, efficitur sed hendrerit nec, vehicula id velit. Sed eu orci nunc. 
            Integer ullamcorper faucibus lacus ut vehicula. Quisque non convallis sapien. Phasellus ullamcorper et lorem sit amet venenatis. 
            Aliquam nec malesuada lectus, dapibus cursus sapien.    
        </p>

        <div class="portrait-container">
            <img width="200" alt="team member" src="assets/default_dude.jpg">
            <div class="caption"> Thomas Claxton </div>
        </div>
        <br>
        <p> 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin viverra luctus purus. 
            Nam dolor risus, efficitur sed hendrerit nec, vehicula id velit. Sed eu orci nunc. 
            Integer ullamcorper faucibus lacus ut vehicula. Quisque non convallis sapien. Phasellus ullamcorper et lorem sit amet venenatis. 
            Aliquam nec malesuada lectus, dapibus cursus sapien.
        </p> <br> <br>

        <div class="portrait-container">
            <img width="200" alt="team member" src="assets/default_dude.jpg">
            <div class="caption"> Ahmed Mohammed </div>
        </div>
        <br>
        <p> 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin viverra luctus purus. 
            Nam dolor risus, efficitur sed hendrerit nec, vehicula id velit. Sed eu orci nunc. 
            Integer ullamcorper faucibus lacus ut vehicula. Quisque non convallis sapien. Phasellus ullamcorper et lorem sit amet venenatis. 
            Aliquam nec malesuada lectus, dapibus cursus sapien.
        </p> <br> <br> 

        <div class="portrait-container">
            <img width="200" alt="team member" src="assets/default_dude.jpg">
            <div class="caption"> Aleksandar Penev </div>
        </div>
        <br>
        <p> 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin viverra luctus purus. 
            Nam dolor risus, efficitur sed hendrerit nec, vehicula id velit. Sed eu orci nunc. 
            Integer ullamcorper faucibus lacus ut vehicula. Quisque non convallis sapien. Phasellus ullamcorper et lorem sit amet venenatis. 
            Aliquam nec malesuada lectus, dapibus cursus sapien.
        </p> <br> <br>

        <div class="portrait-container">
            <img width="200" alt="team member" src="assets/default_dude.jpg">
            <div class="caption"> Reuben Diaz </div>
        </div>
        <br>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin viverra luctus purus. 
            Nam dolor risus, efficitur sed hendrerit nec, vehicula id velit. Sed eu orci nunc. 
            Integer ullamcorper faucibus lacus ut vehicula. Quisque non convallis sapien. Phasellus ullamcorper et lorem sit amet venenatis. 
            Aliquam nec malesuada lectus, dapibus cursus sapien.
        </p> <br> <br>
                    
        <div class="portrait-container">
            <img width="200" alt="team member" src="assets/default_dude.jpg">
            <div class="caption"> Anthony Manalakos </div>
        </div>
        <br>
        <p> 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin viverra luctus purus. 
            Nam dolor risus, efficitur sed hendrerit nec, vehicula id velit. Sed eu orci nunc. 
            Integer ullamcorper faucibus lacus ut vehicula. Quisque non convallis sapien. Phasellus ullamcorper et lorem sit amet venenatis. 
            Aliquam nec malesuada lectus, dapibus cursus sapien.
        </p> <br> <br>
    </div>
</div> -->


<mat-card class="about-team-card">
    <mat-card-title>About Us</mat-card-title>
    <mat-card-content>
        We are a group of students at DePaul University. This is our project for CSC 360 (Web Applications). 
        It was created using the Angular Framework with Material.
        You can view the source on <a href="https://github.com/Bkessing/WebAppsProject/">GitHub</a>
    </mat-card-content>
</mat-card>

<mat-card class="about-members-card" color="warn">
    <mat-card-title>The Team</mat-card-title>
    <mat-card-content>
        <mat-card class="member-card">
            <mat-card-content>
                <img width="100" alt="team member" src="assets/default_dude.jpg">
                <div class="caption"> Brandon Kessinger </div>
            </mat-card-content>
        </mat-card>
    </mat-card-content>
</mat-card>
