<body ng-app="">
<div class="west">
  <img src="assets\westeros.jpg" usemap="#image-map" >
  <map name="image-map">
      <area target="" alt="Castle Black" title="Castle Black" href="" coords="357,60,40" shape="circle" routerLink="/castle-black" routerLinkActive="active" >
      <area target="" alt="Winterfell" title="Winterfell" href="" coords="282,166,27" shape="circle" routerLink="/stark" routerLinkActive="active">
      <area target="" alt="Pyke" title="Pyke" href="" coords="115,404,34" shape="circle" routerLink="/greyjoy" routerLinkActive="active">
      <area target="" alt="Kings Landing" title="Kings Landing" href="" coords="372,503,48" shape="circle" routerLink="/baratheon" routerLinkActive="active">
      <area target="" alt="Casterly Rock" title="Casterly Rock" href="" coords="92,480,31" shape="circle" routerLink="/lannister" routerLinkActive="active">
      <area target="" alt="HighGarden" title="HighGarden" href="" coords="244,617,36" shape="circle" routerLink="/martell" routerLinkActive="active">
      <area target="" alt="Dragonstone" title="Dragonstone" href="" coords="473,470,52" shape="circle" routerLink="/targaryen" routerLinkActive="active">
  
    </map>
   
</div>
</body>