


<div class="west">
  <img id="image" src="assets\westeros.jpg" usemap="#image-map" >
  <map name="image-map">
      <area target="" alt="Winterfell" id="id1" title="Winterfellsss" href="" coords="282,166,27" shape="circle">
      
    
      
      <area target="" alt="Pyke"  id="id2" title="Pyke" href="" coords="115,404,34" shape="circle">
      <area target="" alt="Kings Landing" id="id3" title="Kings Landing" href="" coords="372,503,48" shape="circle">
      <area target="" alt="Casterly Rock"  id="id4" title="Casterly Rock" href="" coords="92,480,31" shape="circle">
      <area target="" alt="HighGarden" id="id5" title="HighGarden" href="" coords="244,617,36" shape="circle">
      <area target="" alt="Dragonstone" id="id6" title="Dragonstone" href="" coords="473,470,52" shape="circle">
  </map>

</div>


