<mat-toolbar color="" class="fixed-header">
  <mat-toolbar-row>
    <a routerLink="/"> <img src="assets/web.png" width="200"> </a>
    <a mat-button routerLink="/map">Map</a>
    <a mat-button routerLink="/house">Houses</a>
    <a mat-button routerLink="/about">About</a>
    <a mat-button routerLink="/contact">Contact</a>
    <span class="fill-space"></span>
    <a mat-button routerLink="/login">Login</a>
    <a mat-button routerLink="/register">Register</a>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>