<mat-toolbar color="" class="fixed-header">
  <mat-toolbar-row>
    <a routerLink="/"> <img src="assets/web.png" width="200" class="logo"> </a>
    <a mat-button routerLink="/map">Map</a>
       
    
    <button mat-button [matMenuTriggerFor]="menu">Families</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/stark" routerLinkActive="active">Stark</button>
      <button mat-menu-item routerLink="/greyjoy" routerLinkActive="active">Greyjoy</button>
      <button mat-menu-item routerLink="/lannister" routerLinkActive="active">Lannister</button>
      <button mat-menu-item routerLink="/castle-black" routerLinkActive="active">Castle Black</button >
      <button mat-menu-item routerLink="/martell" routerLinkActive="active">Martell</button>
      <button mat-menu-item routerLink="/baratheon" routerLinkActive="active">Baratheon</button>
      <button mat-menu-item routerLink="/targaryen" routerLinkActive="active">Targaryen</button>
    </mat-menu>

    <a mat-button routerLink="/about">About</a>
    <a mat-button routerLink="/contact">Contact</a>
    <span class="fill-space"></span>
    <a mat-button routerLink="/login">Login</a>
    <a mat-button routerLink="/register">Register</a>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>