<!DOCTYPE html>
<html>

<h2>
  - House Castle Black-
</h2>
<div>
<img src="assets/castleblack.png" alt="crest" width="600" >
</div>
<h3>Info:</h3>
<p>
  <br>
  The Night's Watch is a military order which holds and guards the Wall to keep the wildlings and White Walkers from crossing into the Seven Kingdoms. The order is a shadow of its former strength and its meager forces have been decimated by recent attacks from both wildlings and White Walkers. For the past couple of centuries, the order has been led from Castle Black.
  <br>
  The Night's Watch is organized in three departments: the Rangers, who fight, defend the Wall and patrol the Haunted Forest; the Builders, who maintain the Wall and the castles; and the Stewards, who support and feed the members of the Watch.
</p>
</html>
