<!DOCTYPE html>
<html>
  <link href='https://fonts.googleapis.com/css?family=Bad Script' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Yellowtail' rel='stylesheet'>
  <body class="body">
    <h1 class="titleText">
      House Castle Black
    </h1>
    <div>
    <img src="assets/castleblack.png" alt="crest" width="600"  class="img-frame">
    </div>
    <h2 class="titleText">House Information:</h2>
    <p class="desc text">
      The Night's Watch is a military order which holds and guards the Wall to keep the wildlings and White Walkers from crossing into the Seven Kingdoms. The order is a shadow of its former strength and its meager forces have been decimated by recent attacks from both wildlings and White Walkers. For the past couple of centuries, the order has been led from Castle Black.
      <br>
      The Night's Watch is organized in three departments: the Rangers, who fight, defend the Wall and patrol the Haunted Forest; the Builders, who maintain the Wall and the castles; and the Stewards, who support and feed the members of the Watch.
    </p>
  </body>
</html>
