<!DOCTYPE html>
<html>
<body background="assets/pyke.jpg">
	
<h2>
   House Greyjoy 

</h2>
<h4>We Do Not Sow</h4>
<div>
<img src="assets/housegreyjoy.png" alt="crest" width="270" >
</div>
<h2> Family Info:</h2>
<div class="container">
<p align="center">
  House Greyjoy of Pyke is one of the Great Houses of Westeros. It rules over the Iron Islands, a harsh and bleak collection of forbidding islands off the west coast of Westeros, from the Seastone Chair in the castle of Pyke on the island of the same name.  The head of the family is traditionally known as the Lord Reaper of Pyke. Their sigil is a golden kraken on a black field, and their house motto is "We Do Not Sow." Members of the family tend to be attractive and well-built, with black hair.
 </p>
</div>
</body>
</html>