<mat-card class="register-card">
    <mat-card-title>Register</mat-card-title>
    <mat-card-content>
        <form class="register-form" [formGroup]="registerForm" (ngSubmit)="tryRegister(registerForm.value)">
            <mat-form-field class="register-full-width">
                <input matInput type="text" placeholder="First Name" formControlName="firstName">
             </mat-form-field>

             <mat-form-field class="register-full-width">
                <input matInput type="text" placeholder="Last Name" formControlName="lastName">
             </mat-form-field>

             <mat-form-field class="register-full-width">
                <input matInput type="text" placeholder="Email" formControlName="email">
             </mat-form-field>

             <mat-form-field class="register-full-width">
                <input matInput type="password" placeholder="Password" formControlName="password">
                <mat-error *ngIf="hasError('password', 'minlength')">Password must be at least 6 characters</mat-error>
             </mat-form-field>
             
            <mat-card-actions>
                <button mat-raised-button [disabled]="!registerForm.valid" color="primary">REGISTER</button>
            </mat-card-actions>
        </form>
    </mat-card-content>
</mat-card>